* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
}
h1, h2, h3 {
    color: white;
}

/* roots section*/

/* ------------------------- */
/* website color palletes */
:root {
--primary-color:;  
--secondary-color: ;   
--accent-color: #d00000 ;
--background-color: #03071e;
--text-light: #E5E7EB ;
--text-dark: ;

}





nav {
    margin: 0rem 3rem;
    position: fixed;
    top: 5px;
    left: 50px;
    right: 50px;
    /* margin-bottom: 54px; */
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    height: 54px;
    border-bottom: 1px red solid;
    width: 100%;
    /* margin-bottom: 54px; */

}

.navbar-links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    padding-right: 60px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--text-light);
}

.logo {
    font-size: 24px;
    color:  var(--text-light);
    padding-left: 60px;
}
.logo a {
    text-decoration: none;
}


              /* HERO SECTION */

.hero-container {
    height: 100vh;
    color: var(--text-light);
    display: flex;
    padding-top: 65px;
    margin-top: 54px;
}

/* set boundary for contents on left */
.left-hero {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 60px;
    /* border: 2px red solid; */
    height: 80vh;
}

/* set boundary for contents on right */

.right-hero img{
    flex-shrink: 1;
    flex-grow: 1;
}

/* heading in hero */
.hero-heading {
    font-size: 48px;
    font-weight: 900px;
    color: var(--text-light);
    letter-spacing: 0.8px;
}

.secondary-text {
font-size: 18px;
padding: 14px 0px 43px 0px;
}

.hero-container button {
    padding: 4px 10px;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #E5E7EB;
    cursor: pointer;
    font-weight: bold;
}


/* INFO SECTION */

.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-section-header {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

/* info header text */
.info-section h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 100px;
}

/* info boxes */
.box-wrapper {
    display: flex;
    gap: 24px;
}

.box {
    border: #1F2937 5px solid;
    width: 250px;
    height: 250px;
    border-radius: 14px;
}